<!DOCTYPE html>
<html>
<head>
    <title>Curious Bear Café Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>All Café Orders</h1>

    <table border="1" cellpadding="8">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Drink</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Payment</th>
            <th>Rating</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.drink_name }}</td>
            <td>{{ order.category }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.unit_price }}</td>
            <td>{{ order.payment_status }}</td>
            <td>{{ order.customer_rating }}</td>
        </tr>
        {% endfor %}
    </table>

    
    <br>

    <div class="nav-links">
        <a href="/">Add New Order</a>
        <a href="/feedback">Add Feedback</a>
        <a href="/feedback-report">View Feedback Report</a>
        <a href="/sales-report">View Sales Report</a>
        <a href="/dashboard" class="button">View Visual Dashboard</a>
    </div>
    
    
</body>
</html>

